<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.product_source.dao.ManagerHurdlesMapper">
    <!--基础查询结果集-->
    <resultMap id="BaseResultMap" type="managerHurdles">
        <id property="hId" column="h_id"/>
        <result property="hName" column="h_name"/>
        <result property="hDesc" column="h_desc"/>
        <result property="hMax" column="h_max"/>
        <result property="hSaved" column="h_saved"/>
        <result property="hTime" column="h_time"/>
        <result property="hEnable" column="h_enable"/>
        <result property="hFull" column="h_full"/>
        <result property="hFenceId" column="h_fence_id"/>
    </resultMap>

    <!--基础sql字段-->
    <sql id="Base_Column_List">
        h_id
        , h_name, h_desc, h_max, h_saved,
        h_time, h_enable, h_full, h_fence_id
    </sql>

    <select id="selectCountByFhId" resultType="Integer">
        select count(*)
        from manager_hurdles
        where h_fence_id=#{fhId}
    </select>

    <!--查询所有的栏圈容量-->
    <select id="selectAllMax" resultType="integer">
        select distinct h_max
        from manager_hurdles
    </select>

    <!--根据栏圈编号查询栏圈信息-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from manager_hurdles
        where h_id = #{hId}
    </select>

    <!--根据编号修改栏圈的状态-->
    <update id="updateEnableById">
        update manager_hurdles
        set h_enable = #{hEnable}
        where h_id = #{hId}
    </update>

    <select id="selectAllEnable" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from manager_hurdles
        where h_enable = '可用'
          and h_full = '未满'
    </select>

    <!--根据栏圈编号修改栏圈信息-->
    <update id="updateByPrimaryKey">
        update manager_hurdles
        <set>
            <if test="hName != null and hName != ''">
                h_name = #{hName},
            </if>
            <if test="hDesc != null and hDesc != ''">
                h_desc = #{hDesc},
            </if>
            <if test="hMax != null">
                h_max = #{hMax},
            </if>
            <if test="hSaved != null">
                h_saved = #{hSaved},
            </if>
            <if test="hTime != null">
                h_time = #{hTime},
            </if>
            <if test="hEnable != null and hEnable != ''">
                h_enable = #{hEnable},
            </if>
            <if test="hFull != null and hFull != ''">
                h_full = #{hFull},
            </if>
            <if test="hFenceId != null">
                h_fence_id = #{hFenceId},
            </if>
            <if test="hId != null and hId != ''">
                h_id = #{hId}
            </if>
        </set>
        where h_id = #{hId}
    </update>
</mapper>